.share-wrapper {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    max-height: 100%;
    /*border: 2px solid yellow;*/
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.share-noauth {
    padding-left: 1rem;
    color: var(--goldColor);
}
