:root {
    --goldColor: #bea67c;
    --goldColorFade: #bea67c00;
    --goldColorLow: #bea67c40;
}
body {
    height: auto;
}
.app-header .dropdown-item {
    min-width: initial;
}

.admin-bg_default {
    background: #f0f3f5;
}

.sidebar .sidebar-header {
    text-align: left;
}

.sidebar .nav-link .nav-icon.hidden {
    display: none;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
}

.cursor-pointer {
    cursor: pointer;
}

.brand-card-header {
    height: 10rem;
    background-color: #5c6873;
    color: #fefefe;
    z-index: 1;
    align-items: flex-end;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.brand-card-header-company {
    height: 10rem;
    background-color: #5c6873;
    color: #fefefe;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
}

.brand-card:hover .brand-card-header-company:before {
    background-color: transparent;
}

.brand-card-header.brand-card-header_blank {
    background-color: #fefefe;
    height: 4rem;
    align-items: center;
}

.brand-card-title {
    width: 100%;
    background-color: rgba(47, 53, 58, 0.5);
    color: #fefefe;
    margin-bottom: 0;
    padding: 10px;
    text-align: center;
}


.brand-card-title-company {
    width: 100%;
    color: #fefefe;
    margin-bottom: 0;
    padding: 10px;
    text-align: center;
}

.brand-card-header.brand-card-header_blank .brand-card-title {
    background-color: #fafaee;
    color: #262A2E;
}

.brand-card-header.brand-card-header_blank:before {
    content: none;
    display: none;
}

.brand-card-header:before,
.brand-card-header-company:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.842);
    top: 0;
    left: 0;
    transition: background-color 0.3s;
}

.brand-card:hover .brand-card-header:before {
    background-color: transparent;
}

.VideoPreview {
    height: 100%;
    max-width: 100%;
    object-fit: fill;
}

.image-thumb {
    height: 13rem;
    padding: 0;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.image-thumb-company {
    height: 13rem;
    padding: 0;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.image-thumb_small {
    height: 9.5rem;
}

.image-thumb_video {
    height: 11rem;
    background-color: #2f353a;
    color: #f0f3f5;
    padding: 5px;
}

.image-thumb_selected {
    box-shadow: inset 0 0 4px 5px #03ff12;
}

.content-edit-description-button {
    position: absolute;
    z-index: 10;
    top: 8px;
    right: 8px;
}

.content-delete-description-button {
    position: absolute;
    z-index: 10;
    top: 8px;
    left: 8px;
}
.content-delete-description-button:hover{
    background: rgb(248, 227, 227);
}

.content-thumb-description {
    position: absolute;
    bottom: 8px;
    right: 8px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 4px;
}

.imageSaveBtn {
    position: absolute;
    bottom: 4px;
    right: 4px;
}

.imageUpload {
    position: relative;
    border-width: 2px;
    border-color: rgb(102, 102, 102);
    border-style: dashed;
    border-radius: 0;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.imageUpload--accept {
    background-color: #20a8d8;
}

.imageUpload--reject {
    background-color: #f86c6b;
}

.ProgressBar {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

ymaps[class*="copyrights-pane"] {
    display: none;
}

.rc-pagination-item:hover {
    color: #167495;
    text-decoration: none;
    background-color: #e4e7ea;
    border-color: #20a8d8;
    box-shadow: 0 0 2px rgba(32, 168, 216, 0.8);
}

.rc-pagination-item-active,
.rc-pagination-item-active:hover {
    color: #fff;
    background-color: #20a8d8;
    border-color: #20a8d8;
    box-shadow: none;
}

.rc-select-enabled .rc-select-selection:hover {
    box-shadow: 0 0 2px rgba(32, 168, 216, 0.8);
}

.rc-select-dropdown-menu-item.rc-select-dropdown-menu-item-selected {
    color: #fff;
    background-color: #20a8d8;
    border-color: #20a8d8;
    box-shadow: none;
}

.rc-select-dropdown-menu-item.rc-select-dropdown-menu-item-active:not(.rc-select-dropdown-menu-item-selected) {
    color: #167495;
    background-color: #e4e7ea;
    border-color: #20a8d8;
    box-shadow: none;
}

.rc-pagination-prev,
.rc-pagination-next,
.rc-pagination-jump-prev,
.rc-pagination-jump-next,
.rc-pagination-item,
.rc-select-selection {
    border-radius: 0;
    margin-right: .25rem;
}
ul.rc-pagination{
    margin-bottom: 0;
}
.deleteBtn {
    position: absolute;
    left: 15px;
    top: 0;
    z-index: 10;
    border-radius: 0;
    border: none;
    background: rgba(250, 250, 250, 0.1);
    outline: none;
}
.deleteBtn:hover {
    background: rgba(250, 250, 250, 0.3);
}
.deleteBtn:active,
.deleteBtn:focus,
.deleteBtn:enabled {
    outline: none;
    border: none;
}
.icon-trash-style {
    color: #fff;
}
.admin-table-task__header{
    font-size: 1.05rem;
}
.admin-table-task{
    position: relative;
    width: 75%;
}
.admin-table-task ul{
    margin: 0;
    padding-left: 1.5rem;;
    list-style: none;
}
.admin-table-task ul li{
    text-align: left;
}
.admin-table-task__dates{
    width: 15%;
}
.setEdit{
    position: absolute;
    right: 0;
    top: 20px;
}
.admin-timelapse-table__thead{
    border-color: #7e7e7e;
}

table thead tr{
    border-bottom: 1px solid #7e7e7e;;
    border-top: 1px solid #7e7e7e;;
}
.admin-timelapse-table th,
.admin-timelapse-table td,
.admin-timelapse-table tr,
.admin-table-body__edit tr,
.admin-table-body__edit td,
.admin-table-body__edit th{
    border-bottom: 1px solid #7e7e7e;
    border-top: 1px solid #7e7e7e;
}
.table td,
.table th{
    vertical-align: middle;
}
.modal-edit-aerials{
    display: flex;
    flex-direction: column;
}
.modal-edit-aerials video{
    width: 100%;
}
.modal-edit-aerials_control-edit{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.modal-edit-aerials_control-edit button{
    padding: 0.5rem 0.3rem;
    width: 70px;
}
.modal-edit-cuts-list{
    height: 150px;
    overflow: auto;
    border: 1px solid #e4e7ea;
    padding: 6px;
    font-size: 1.15rem;
}
.modal-edit-cut-box{
    border: 1px solid #e4e7ea;
    margin-bottom: 0.2rem;
    box-shadow: 3px 13px 37px grey;
    transition: box-shadow 0.2s;
}
.modal-edit-cut-item{
    display: flex;
    align-items: center;
}
.modal-edit-cut-item span{
    position: relative;
}
.modal-edit-cut-item span img{
    height: 80%;
}
.modal-edit-cut-box:hover{
    box-shadow: 0px 15px 37px rgb(70, 70, 70);
}
.modal-edit-aerials_control-edit span{
    font-size: 1.15rem;
}
.modal-edit-timepass{
    cursor: pointer;
    transition: color 0.2s;
}
.modal-edit-timepass:hover{
    color: #20a8d8;
}
.modal-edit-aerials_control-edit button[type="button"] {
    cursor: default;
}
.access-checks-container,
.access-checks_tab-container {
    border: 1px solid #e4e7ea;
}
.tab_access{
    width: 50%;
}
.select-access{
    transition: background 0.2s;
}
.select-access:hover{
    background: #e6f4f9;
}
.info-done__loader{
    width: 18px;
    opacity: 0.8;
    transform: rotate(5deg);
    animation: spinning 0.8s infinite cubic-bezier(0.4, 0.32, 0.5, 0.87);
}
@keyframes spinning {
    0% { transform: rotate(5deg); }
    100% { transform: rotate(365deg); }
}
.spin-loader-container {
    width: 11%;
}
.load-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #d3eaf04a;
}
.activity-container{
    overflow: auto;
    padding: 10px 20px;
    background: #fff;
}
.activity-first-col{
    font-weight: normal;
}
.admin-map{
    overflow: hidden;
    transition: height 0.3s;
}
.admin-map-close{
    height: 0;
    min-height: 0;
}
.admin-map-show{
    height: 350px;
    min-height: 1px;
}
.show-marker-image{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    z-index: 99999;
    width: 100%;
    background: #2f353a5e;
    transition: top 0.2s ease, bottom 0.2s ease, opacity 0.3s ease-in-out;
}
.show-marker-panoram{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
    height: 100%;
    width: 100%;
    padding: 30px;
    background: #2f353a5e;
    transition: top 0.2s ease, opacity 0.3s ease-in-out;
}
.hide-preview-map{
    visibility: hidden;
    opacity: 0;
}
.show-preview-map{
    visibility: visible;
    opacity: 1;
}
.show-marker-image-box{
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
}
.show-marker-panorama-box{
    width: 100%;
    height: 100%;
}
.marz-container{
    width: 100%;
    height: 100%;
}
.show-marker-image img{
    width: 100%;
}
.close-show-preview{
    top: 0;
    right: 0;
    position: absolute;
    width: 50px;
    line-height: 30px;
}
.close-show-preview_panoram{
    top: 0;
    right: 0;
    position: absolute;
    width: 33px;
    font-size: 2rem;
    line-height: 30px;
    background: transparent;
    border: none;
    transform: rotate(45deg);
    color: #fff;
}
.close-show-preview_panoram:focus{
    outline: none;
}
.lens-container{
    position: absolute;
    background: #dfb5b5;
    width: 150px;
    height: 150px;
    border-radius: 30%;
}
.select-map-preview-item{
    position: relative;
    transition: All 0.2s ease;
}
.select-preview-edit-item{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    background: rgba(250,250,250,0);
    transition: background 0.2s ease;
    cursor: pointer;
}
.select-preview-edit-item:hover{
    background: rgba(250,250,250,.25);
}
.select-preview-edit-item img{
    width: 25px;
}
.select-show-preview-position{
    position: absolute;
    right: 0;
    top: 50px;
}

.aeropanorama-tab__select-item {

}

._active-edit-item{
    box-shadow: inset 0 0 4px 6px lime;
}
.wrapper-panorams{
    height: 100%;
    width: 100%;
    position: relative;
}
.panos {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.button__group-correct-panel{
    display: flex;
    justify-content: space-between;
}
.card-img-overlay{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-overlay > span{
    color: #da2727;
    font-size: 1.2rem;
}

.aeropanorama-thumb-id {
    position: absolute;
    color: white;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    font-size: 3rem;
    margin-bottom: 0;
    text-shadow: 0 0 7px black;
}

.sublines-content-view {
    height: 220px;
    position: absolute;
    background: white;
    padding: 5px;
    right: 0;
    width: 250px;
    top: 0;
    z-index: 1019;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: right 150ms ease-out;
}
.sublines-content_hide {
    right: -300px;
}
.sublines-content_show {
    right: 0;
}

.sublines-content-view__info {
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.subline-content-success {
    color: lime;
}
.subline-content-fail {
    color: rgb(255, 166, 81);
}
.sublines-content-view__clean-btn {
    margin-bottom: 1rem;
    display: block;
    width: 100%;
}

.sublines-content-view__list-wrapper {
    padding: 0 8px;
    max-height: 250px;
    overflow-y: auto;
}
.sublines-content-view__list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 0;
    border-bottom: 1px solid grey;
}
.btn_like_div {
    display: block;
    border: none;
    outline: none;
    background-color: transparent;
}
.btn_like_div:focus {
    outline: none;
}
.admin-modal__promo-filter-btn-group {
    width: 100% !important;
}
.admin-modal__promo-filter-btn-group > button {
    flex: 1 !important;
}
.admin-modal__promo-filter-btn-group > button.active {
    background: #20a8d8 !important;
    background-color: #20a8d8 !important;
    border-color: #20a8d8 !important;
    color: #ffffff !important;
}

.admin-modal_change-width {
    max-width: 600px;
}
.admin-modal__buttons {
    flex-wrap: wrap;
}
.admin-modal__buttons > button {
    flex: 1 !important;
}

.admin-dashboard_wrapper{
    background: #fff;
}
div.progress{
    font-size: 1rem;
    height: 2rem;
    border: .5px solid black;
}
.table{
    border: none;
}
.admin-main-hits_table thead th:first-child,
.admin-main-hits_table tbody th:first-child,
.admin-main-hits_table tbody td:first-child{
    text-align: left;
    cursor: pointer;
}
.admin-main-hits_table thead th:not(:first-child),
.admin-main-hits_table tbody th:not(:first-child),
.admin-main-hits_table tbody td:not(:first-child){
    text-align: right;
    cursor: pointer;
}
.admin-main-hits_table{
    font-size: 1rem;
    margin-top: 1rem;
}
.admin-main-diskusage_wrapper,
.admin-main-hits_wrapper{
    background: #fff;
    padding: 10px 20px;
}

.admin-main-hits_table th,
.admin-main-hits_table td{
    padding: 0.5rem 0.75rem;
}
.admin-dashboard_route-button-group{
    background: #e4e5e6;
    display: flex;
}
.route-button{
    border: none;
    outline: none;
    font-size: 1.1rem;
    padding: 5px 10px;
    background: #e4e5e6;
}
.route-button:focus{
    outline: none;
}
.route-button_active{
    background: #fff;
    border-bottom: 1px solid #8080805e;
    border-top: none;
    border-right: none;
    border-left: none;
}
.panorama-correct-content-container {
    position: absolute;
    top: 0;
    z-index: 1;
    right: 0;
    width: 400px;
    height: 200px;
}
.content-tab-container {
    position: relative;
}
.tab-pane {
    position: relative;
}
.tab-content {
    min-height: 900px;
}
.nav-tabs a {
    user-select: none;
}
.content-tab-loader {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    z-index: 1020;
    transition: opacity 150ms, visibility 150ms;
}
.tab-loader_show {
    opacity: 0.9;
    visibility: visible;
}
.tab-loader_hide {
    opacity: 0;
    visibility: hidden;
}
.content-tab-loader__map {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    z-index: 1019;
    transition: opacity 150ms, visibility 150ms;
}
.map-loader_show {
    opacity: 0.9;
    visibility: visible;
}
.map-loader_hide {
    opacity: 0;
    visibility: hidden;
}

.tab-aside-panel {
    position: absolute;
    top: 0;
    width: 350px;
    max-height: 630px;
    z-index: 1019;
    background: white;
    border: 1px solid #c8ced3;
    transition: 200ms right;
}
.aside_show {
    right: -30px;
}
.aside_hide {
    right: -384px;
}

.aside-button-toggle {
    position: absolute;
    font-size: 1.6rem;
    display: block;
    transition: all 200ms;
}
.toggler_top {
    right: 0;
    top: -32px;
}
.toggler_left {
    right: calc(100% + 30px);
    top: -28px;
}
.admin-panoram-thumb {
    transition: box-shadow 150ms ease;
}

.admin-panoram-thumb_selected {
    box-shadow: inset 0 0 4px 6px lime;
}
.header-subline-map-container {
    position: fixed;
    right: 1%;
    top: 10%;
    width: 450px;
    height: 250px;
    z-index: 1020;
}
.header-subline-map-container__close-map {
    position: absolute;
    top: 0;
    right: 0;
    color: black;
    z-index: 400;
}
.header-subline-map_submit-panel {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 400;
    background: rgba(250, 250, 250, 0.3);
}
.header-subline-map_submit-panel button {
    margin: 0 5px;
    width: 70px;
    padding: 5px 5px;
}
