.App {
    position: relative;
}

.scroll-wrapper-background,
.scroll-wrapper-content {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
}

.scroll-wrapper-background {
    transition: all 2.1s cubic-bezier(.19,.16,.28,.9);
}

.scroll-wrapper-content {
    transition: all 2s cubic-bezier(.39,.26,.28,.9) 0.2s;
}
